// Notes - Markdown Style
$bg:  #24283b;
$white: #c0caf5;
$black: #414868;
$red: #f7768e;
$yellow: #e0af68;
$green: #73daca;
$blue: #7aa2f7;
$magenta: #bb9af7;
// other 
$orange: #ff9e64;
$stringGreen: #9ece6a;
$elementBlue: #2ac3de;
$text: #9aa5ce;
$comments: #565f89;

/* Main */
body {
	max-width: 900px;
	margin: auto;
  background: $bg;
  color: $white;
}

h1 {
  color: $magenta;
}
h2 {
  color: $stringGreen;
}
h3 {
  color: $orange;
}
a {
  color: $blue;
  text-decoration: none;
}

blockquote {
	background: $black;
	color: $white;
	border: 1px solid $comments;
	border-radius: 0.3em;
	padding: 1px 1px;
	margin: 1px 1px;
}

/* Inline code */
pre,
code {
	color: $magenta;
	font-size: 14px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	line-height: 1.5;
	direction: ltr;
	white-space: pre;
	text-align: left;
	text-shadow: none;
	word-break: normal;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
pre::selection,
code::selection {
	text-shadow: none;
	background: $bg;
}
@media print {
	pre,
	code {
		text-shadow: none;
	}
}
pre {
	margin: 0.5rem 0 16px;
	padding: 0.8rem 1rem 0.9rem;
	overflow: auto;
	background: $black;
	border-radius: 4px;
}
:not(pre) > code {
	padding: 0.1em 0.3em;
	color: $magenta;
	background: $black;
	border-radius: 0.3em;
	white-space: pre-wrap;
}
