---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Notes On ...">
	<div class="flexBox">
		<dl>
			<h2>Languages</h2>
			<dt>General</dt>
			<dd><a href="./c">C</a></dd>
			<dd><a href="./rust">Rust</a></dd>
			<dt>Scripting</dt>
			<dd><a href="./javascript">JavaScript</a></dd>
			<dd><a href="./typescript">TypeScript</a></dd>
			<dd><a href="./python">Python</a></dd>
			<dd><a href="./lua">Lua</a></dd>
			<dd><a href="./bash">Bash</a></dd>
			<dd><a href="./php">PHP</a></dd>
			<dd><a href="./ruby">Ruby</a></dd>
			<dt>Markup</dt>
			<dd><a href="./html">HTML</a></dd>
			<dd><a href="./markdown">Markdown</a></dd>
			<dt>Stylesheet</dt>
			<dd><a href="./css">CSS</a></dd>
			<dd><a href="./sass">Sass</a></dd>
		</dl>
		<dl>
			<h2>Frameworks</h2>
			<dt>Web</dt>
			<dd><a href="./astro">Astro</a></dd>
			<dd><a href="./bootstrap">Bootstrap</a></dd>
		</dl>
		<dl>
			<h2>Other</h2>
			<dt>Example</dt>
			<dd><a href="./test">Test</a></dd>
		</dl>
	</div>
</MainLayout>
<style>
.flexBox {
	display: flex;
	justify-content: center;
	padding-left: 1rem;
	padding-right: 1rem;
	gap: 5rem;
}

@media (max-width: 720px) {
	.flexBox {
		flex-direction: column;
	}
}
</style>
