---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Notes On ...">
	<div class="flexBox">
		<dl>
			<h2>Languages</h2>
			<dt>General</dt>
			<dd><a href="/on/c">C</a></dd>
			<dd><a href="/on/rust">Rust</a></dd>
			<dd><a href="/on/go">Go</a></dd>
			<dt>Scripting</dt>
			<dd><a href="/on/javascript">JavaScript</a></dd>
			<dd><a href="/on/typescript">TypeScript</a></dd>
			<dd><a href="/on/python">Python</a></dd>
			<dd><a href="/on/lua">Lua</a></dd>
			<dd><a href="/on/bash">Bash</a></dd>
			<dd><a href="/on/php">PHP</a></dd>
			<dd><a href="/on/ruby">Ruby</a></dd>
			<dt>Markup</dt>
			<dd><a href="/on/html">HTML</a></dd>
			<dd><a href="/on/markdown">Markdown</a></dd>
			<dt>Stylesheet</dt>
			<dd><a href="/on/css">CSS</a></dd>
			<dd><a href="/on/sass">Sass</a></dd>
		</dl>
		<dl>
			<h2>Frameworks</h2>
			<dt>Web</dt>
			<dd><a href="/on/astro">Astro</a></dd>
			<dd><a href="/on/bootstrap">Bootstrap</a></dd>
		</dl>
		<dl>
			<h2>Other</h2>
			<dt>Example</dt>
			<dd><a href="/on/test">Test</a></dd>
		</dl>
	</div>
	<footer>
		<a href="https://gesty.dev">By: gesty</a>
		<a href="/about">About this Site</a>
	</footer>
</MainLayout>
<style>
.flexBox {
	display: flex;
	justify-content: center;
	padding-left: 1rem;
	padding-right: 1rem;
	gap: 5rem;
}

footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;
	gap: 1rem;
}

@media (max-width: 720px) {
	.flexBox {
		flex-direction: column;
	}

	footer {
		padding-bottom: 5rem;
	}
}
</style>
