---
import '../styles/markdownStyle.css';
import MarkdownFooter from '../components/MarkdownFooter.astro';
import HeaderLink from '../components/HeaderLink.astro'

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
    <meta name="author" content="Gesty Linaga">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Notes on ...{frontmatter.title}</title>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <HeaderLink />
    <slot />
    <MarkdownFooter />
  </body>
</html>
