---
import '../styles/markdownStyle.css';
import Footer from '../components/Footer.astro';
import HeaderLink from '../components/HeaderLink.astro'

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
    <title>Notes on ...{frontmatter.title}</title>
  </head>
  <body>
    <HeaderLink />
    <slot />
    <Footer />
  </body>
</html>
